# Gemini API Configuration
GEMINI_API_KEY=AIzaSyDUIDfqOnL4NNgO63pYE5UMG35-uRKQWq8

# Server Configuration
PORT=8000
FAISS_DIMENSION=768

# File Upload Configuration
ALLOWED_FILE_TYPES=*/*
MAX_FILE_SIZE=10485760



# Logging
LOG_LEVEL=info
